#container{
    height: 500px;
    width: 1280px;
    background-color: aqua;
}
.center {
    margin: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: green;
    border-radius: 5px;
    height: 35px;
    font-size: large;
}